.movie-list-container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 20px;
  background: #ffffff;
  .page-header {
    p {
      font-size: 30px;
      text-align: left;
      color: #6AC045;
      font-weight: bold;
      border-bottom: 1px solid #6AC045;
      margin-bottom: 20px;
      padding-bottom: 20px;
    }
  }
  .page-footer {
    margin: 20px 0 0;
    text-align: center;
    button {
      border: 3px solid #6AC045;
      color: #6AC045;
      background: none;
      cursor: pointer;
      padding: 25px 80px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 700;
      outline: none;
      position: relative;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;

      &:after {
        content: '';
        position: absolute;
        z-index: -1;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
      }

      &:hover {
        color: #fff;
        background: #6AC045;
      }

      &:active {
        color: #fff;
        background: #6AC045;
      }
    }
  }
}
